.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* ความสูงขั้นต่ำเต็มหน้าจอ */
  }
  
  .content-wrapper {
    flex: 1; /* ทำให้ส่วนเนื้อหาขยายเต็มที่เพื่อดัน Footer ลงด้านล่าง */
  }